<!-- Footer -->

<footer class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <img src="#" alt="Equiworm Logo">
        <hr style="color: red;">
        <ul class="nav">
            <li class="nav-item">About</li>
            <li class="nav-item">Authors</li>
            <li class="nav-item">Archive</li>
            <li class="nav-item">Terms and Conditions</li>
            <li class="nav-item">Cookie Policy</li>
        </ul>
    </div>
</footer>

<!-- /Footer -->