{% load static %}
  
<!-- Footer -->

<div class="container footer-container">
    <footer class="py-4 my-4">
        <div class="d-flex align-items-center justify-content-center">
            <img src="{% static 'images/horse_white.svg' %}" alt="Equiworm Logo" style="height: 100px; width: 100px;" class="m-2">
        </div>
        <ul class="nav border-top d-flex justify-content-center align-items-center">
            <li class="nav-item m-2"><a href="">About</a></li>
            <li class="nav-item m-2"><a href="">Authors</a></li>
            <li class="nav-item m-2"><a href="">Archive</a></li>
            <li class="nav-item m-2"><a href="">Terms and Conditions</a></li>
            <li class="nav-item m-2"><a href="">Cookies Policy</a></li>
        </ul>
    </footer>
</div>

<!-- /Footer -->