{% load static %}

<!-- navbar -->

<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

        <a href="#" class="navbar-brand">
            <img src="{% static 'images/horse_white.svg' %}" alt="Equiworms Logo" class="logo">
            <span class="brand-text ms-2">EQUIWORMS</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class=" burger fa-solid fa-bars"></i>
        </button>


        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mx-3 ms-auto mb-2 mb-lg-0">
                <li class="navitem">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                <li class="navitem">
                    <a href="#" class="nav-link">Risk-Checker</a>
                </li>
                <li class="navitem">
                    <a href="#" class="nav-link">About</a>
                </li>

                <!-- Not needed currently -->

                <!-- <li class="navitem">
                    <a href="#" class="nav-link">Tracker</a>
                </li> -->
                <!-- <li class="navitem">
                    <a href="#" class="nav-link">Updates</a>
                </li> -->

                <!-- Removed until auth is integrated -->

                <!-- {% if user.is_authenticated %}
                <li class="navitem">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                {% else %}
                <li class="navitem">
                    <a href="#" class="nav-link">Sign In</a>
                </li>
                <li class="navitem">
                    <a href="#" class="nav-link">Create account</a>
                </li>
                {% endif %} -->

            </ul>
        </div>

    </div>
</nav>

<!-- End navbar -->