/*Navbar style*/
.navbar-brand {
    color: #7A371A;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: bold;
}

.navbar-toggler {
    border: none;
}

.navbar {
    background-color: #F6F3EC ;
}

body {
    background-color: #F6F3EC;
}