body {
    background-color: #F6F3EC;
}

/*Navbar style*/
.navbar-brand {
    color: #7A371A;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.navbar-toggler {
    border: none;
}

.burger {
    font-size: 1.5rem ;
    
}

.navbar {
    background-color: #F6F3EC ;
}


/* buttons */

.form-btn {
    background-color: #b6cd5b !important;
    color: #7A371A !important;
    width: 50%;
}