{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="container my-5">
    <div class="row">
        <!-- Center the Update Title -->
        <div class="col-12 text-center mb-4">
            <h2>About</h2>
        </div>

        <!-- Image Section -->
        <div class="col-12">
            <div class="image-container mb-4 ">
                <img src="{% static 'images/horses 005.jpg' %}" class="img-fluid about-img" alt="Image for Update">
            </div>
        </div>

        <!-- Text Content Section -->
        <div class="col-12">
            <p>
                A cat named Mittens has made national headlines after she managed to find her way back home, despite being lost for over a week. Mittens, a three-year-old tabby, went missing on July 4th after she escaped through an open window at her owner's home.
            </p>
            <p>
                Despite a frantic search by her owner, Jane Smith, Mittens was nowhere to be found. Smith put up flyers around the neighborhood and posted on social media, hoping someone would spot her beloved pet.
            </p>
            <p>
                Days turned into a week, and Smith had all but given up hope of ever seeing Mittens again. But then, to her surprise, she received a call from a neighbor who had spotted the cat on their porch. Smith rushed over and was overjoyed to find Mittens safe and sound.
            </p>
            <p>
                It’s still unclear how Mittens managed to find her way home after being lost for so long. Some speculate that she may have followed the scent of her owner's other cats, while others believe she simply had a strong homing instinct.
            </p>
            <p>
                Regardless of how she did it, Mittens' incredible journey has captured the hearts of animal lovers across the country. Smith says she's grateful to have her furry friend back home, and plans to keep a closer eye on her in the future.
            </p>
        </div>
    </div>
</div>







{% endblock %}